<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">
            <img class="close_icon" src="~/images/close.png" />
        </button>
        <h4>Input contact Email</h4>
        <div class="row">
            <div class="col-lg-7">
                <div class="input-group">
                    <input id="email_input" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary findContact" type="button">Find</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

    </div>
</div>
